/*ADDED BY ME*/

#me {
    height: 350px;
    width: 350px;
}


/*OVERLAY DIVS*/

.container {
    position: relative;
    left: 0%;
    
    display: inline-block; /*DISPLAYS DIVS NEXT TO EACH OTHER PUTA*/
    height: auto; 
    width: auto; 
    max-width: 350px; 
    max-height: 350px;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: justify;
  font-family: Courier, "courier new"

}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

/*.text {*/
  /*background-color: ;*/
/*  color: black;*/
/*  font-size: 10px;*/
  /*padding: 35px;*/
/*  text-align: justify;*/
/*  position: absolute;*/
  /*align-content: center*/
/*}*/


.about-me-caption, p {
  width: 750px;
  font-family: Consolas, "courier new";
	font-size: 16px
}

.sidenote {
  font-size: 8.5px
}

